In [1]:
#Memanggil library yang dibutuhkan
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Membaca Data Kelulusan Mahasiswa
mhs = pd.read_excel("Data Kelulusan Mahasiswa.xlsx")
mhs.head(10)

,JenisKelamin,StatusMahasiswa,Umur,StatusNikah,IPS1,IPS2,IPS3,IPS4,IPS5,IPS6,IPS7,IPS8,IPK,StatusKelulusan
0,0,1,28,0,2.76,2.80,3.20,3.17,2.98,3.00,3.03,2.0,2.86750,0
1,0,0,32,0,3.00,3.30,3.14,3.14,2.84,3.13,3.25,2.0,2.97500,0
2,0,1,29,0,3.50,3.30,3.70,3.29,3.53,3.72,3.73,2.0,3.34625,0
3,0,0,27,0,3.17,3.41,3.61,3.36,3.48,3.63,3.46,2.0,3.26500,0
4,0,1,29,0,2.90,2.89,3.30,2.85,2.98,3.00,3.08,2.0,2.87500,0
5,1,1,27,0,2.95,2.82,3.09,3.10,2.78,3.16,3.23,2.0,2.89125,0
6,0,0,26,0,2.76,3.14,2.60,2.95,3.23,3.33,3.30,3.3,3.07625,1
7,0,0,27,0,2.62,2.89,2.32,2.50,2.50,2.86,3.05,2.5,2.65500,1
8,0,1,25,1,3.60,3.54,3.52,3.39,3.52,3.68,3.15,2.0,3.30000,0
9,0,1,28,0,2.71,2.55,1.77,2.11,1.93,2.13,1.78,0.2,1.89750,0

In [3]:
x = mhs.drop(["StatusKelulusan"], axis=1)
x.head(10)

,JenisKelamin,StatusMahasiswa,Umur,StatusNikah,IPS1,IPS2,IPS3,IPS4,IPS5,IPS6,IPS7,IPS8,IPK
0,0,1,28,0,2.76,2.80,3.20,3.17,2.98,3.00,3.03,2.0,2.86750
1,0,0,32,0,3.00,3.30,3.14,3.14,2.84,3.13,3.25,2.0,2.97500
2,0,1,29,0,3.50,3.30,3.70,3.29,3.53,3.72,3.73,2.0,3.34625
3,0,0,27,0,3.17,3.41,3.61,3.36,3.48,3.63,3.46,2.0,3.26500
4,0,1,29,0,2.90,2.89,3.30,2.85,2.98,3.00,3.08,2.0,2.87500
5,1,1,27,0,2.95,2.82,3.09,3.10,2.78,3.16,3.23,2.0,2.89125
6,0,0,26,0,2.76,3.14,2.60,2.95,3.23,3.33,3.30,3.3,3.07625
7,0,0,27,0,2.62,2.89,2.32,2.50,2.50,2.86,3.05,2.5,2.65500
8,0,1,25,1,3.60,3.54,3.52,3.39,3.52,3.68,3.15,2.0,3.30000
9,0,1,28,0,2.71,2.55,1.77,2.11,1.93,2.13,1.78,0.2,1.89750

In [4]:
y = mhs["StatusKelulusan"]
y.head(10)

0    0
1    0
2    0
3    0
4    0
5    0
6    1
7    1
8    0
9    0
Name: StatusKelulusan, dtype: int64

In [5]:
# Import Gaussian Naive Bayes Model
from sklearn.naive_bayes import GaussianNB

# Memanggil fungsi Naive Bayes
nbc = GaussianNB()

# Memasukkan data training pada fungsi klasifikasi naive bayes
data_training = nbc.fit(x,y)

# Melakukan prediksi pada data training
y_predict = data_training.predict(x)
print(y_predict)

[0 1 1 1 0 0 1 0 0 0 1 0 0 0 1 0 1 0 0 1 1 1 1 0 0 0 0 0 1 1 0 1 0 1 1 1 1
 1 0 1 0 0 1 1 1 1 1 1 1 1]

In [7]:
# Melakukan Prediksi pada Data Input => Data yang akan diprediksi
Jenis_Kelamin = 1 #Laki-Laki
Status_Kerja = 0 #Mahasiswa
Umur = 25
Status_Nikah = 1 #Menikah
IPS1 = 3.12
IPS2 = 2.75
IPS3 = 2.05
IPS4 = 3.01
IPS5 = 2.56
IPS6 = 3.67
IPS7 = 2.75
IPS8 = 3.45
IPK = np.average([IPS1,IPS2,IPS3,IPS4,IPS5,IPS6,IPS7,IPS8])
Data_Testing = [[Jenis_Kelamin, Status_Kerja, Umur, Status_Nikah, IPS1, IPS2, IPS3, IPS4, IPS5, IPS6, IPS7, IPS8, IPK]]

In [ ]:
# Melakukan prediksi berdasarkan Data Input
y_pred = data_training.predict(Data_Testing)

In [9]:
# Mencetak Hasil Prediksi Kelulusan Mahasiswa
# Hasil 0 adalah Terlambat
# Hasil 1 adalah Tepat

if y_pred == 0:
    hasil = "Terlambat"
elif y_pred == 1:
    hasil = "Tepat"
else:
    hasil == "Error"
print("Hasil Prediksi Kelulusan Mahasiswa :", hasil)

Hasil Prediksi Kelulusan Mahasiswa : Terlambat

# Menghitung Akurasi => melihat skor akurasi
from sklearn.metrics import accuracy_score
print("Akurasi = %0.2f" % accuracy_score(y, y_predict))

In [16]:
# Mencetak Laporan Hasil Klasifikasi
from sklearn.metrics import classification_report
print(classification_report(y, y_predict))

              precision    recall  f1-score   support

           0       0.73      0.64      0.68        25
           1       0.68      0.76      0.72        25

    accuracy                           0.70        50
   macro avg       0.70      0.70      0.70        50
weighted avg       0.70      0.70      0.70        50